apiVersion: v1
kind: Service
metadata:
  name: docs-site
  namespace: octopilot-system
  labels:
    app: docs-site
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: docs-site

