apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: secret-manager-controller-sops
  namespace: flux-system
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  resourceNames:
  - sops-private-key
  - sops-gpg-key
  - gpg-key



