---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: secret-manager-controller-pact-broker

resources:
  - namespace.yaml
  - broker.yaml
  - mock-server-gcp.yaml
  - mock-server-aws.yaml
  - mock-server-azure.yaml

