---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: secret-manager-controller-pact-broker

resources:
  - namespace.yaml
  - pact-contracts-configmap.yaml  # Created first, populated automatically
  - rbac-serviceaccount.yaml  # ServiceAccount for manager sidecar
  - rbac-role.yaml  # Role granting ConfigMap read permissions
  - rbac-rolebinding.yaml  # RoleBinding for manager ServiceAccount
  - pact-deployment.yaml
  # Note: pact-publish-job.yaml removed - publishing is handled by init containers in deployment

