---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: pact-manager
  namespace: secret-manager-controller-pact-broker
  labels:
    app: pact-infrastructure
    app.kubernetes.io/component: pact-infrastructure
    app.kubernetes.io/part-of: secret-manager-controller
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: pact-manager
subjects:
- kind: ServiceAccount
  name: pact-manager
  namespace: secret-manager-controller-pact-broker

