---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: pact-manager
  namespace: secret-manager-controller-pact-broker
  labels:
    app: pact-infrastructure
    app.kubernetes.io/component: pact-infrastructure
    app.kubernetes.io/part-of: secret-manager-controller

