apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: microscaler-system

resources:
  - namespace.yaml
  - crd/secretmanagerconfig.yaml
  - rbac/serviceaccount.yaml
  - rbac/role.yaml
  - rbac/rolebinding.yaml
  - rbac/clusterrole.yaml
  - rbac/clusterrolebinding.yaml
  - rbac/role-sops-secret.yaml
  - rbac/rolebinding-sops-secret.yaml
  # Note: PVC is created during Kind cluster setup (not managed by Tilt to avoid deletion issues)
  # See scripts/setup_kind.py create_pvc() function
  # - storage/pvc.yaml
  - deployment/deployment.yaml
  - service/metrics-service.yaml

