apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: microscaler-system

resources:
- namespace.yaml
- crd/secretmanagerconfig.yaml
- rbac/serviceaccount.yaml
- rbac/role.yaml
- rbac/rolebinding.yaml
- rbac/clusterrole.yaml
- rbac/clusterrolebinding.yaml
- rbac/role-sops-secret.yaml
- rbac/rolebinding-sops-secret.yaml
- deployment/deployment.yaml
- service/metrics-service.yaml

